<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".catigoryActivity"
            android:label="catigory" />
        <activity
            android:name=".PlayerActivity"
            android:label="playing now" />
        <activity
            android:name=".hibhobActivity"
            android:label="Hibhob" />
        <activity
            android:name=".folkActivity"
            android:label="folk" />
        <activity
            android:name=".classicActivity"
            android:label="Classic" />
        <activity
            android:name=".rockActivity"
            android:label="Rock" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>